.container{

    display:flex;

    justify-content:space-evenly;

    margin-top:60px;

}

.column{

    width:30%;

    padding:20px;

    border-left:4px solid green;

}

.column:first-child{

    border-left:none;

}

h1{

    font-size:40px;

}

h2{

    font-size:35px;

}

h3{

    font-size:28px;

}

h4{

    font-size:22px;

    font-weight:bold;

}

p{

    font-size:18px;

}